html, body
{
 /* Acomodo Texto */ 
  margin: 0;
  margin-top: 6em;
  padding: 0;
  text-align: center;
 /* Doy estilo de gala */ 
  background-color: #131313;
  color: #cfcf1c;
}

form *
{
  /* voy separando los elementos del formulario para que se vea mejor en celulares */
  margin: 0.25em;
}