html, body
{
 /* Acomodo Texto */ 
  margin: 0;
  margin-top: 6em;
  padding: 0;
  text-align: center;
 /* Doy estilo de gala */ 
  background-color: #131313;
  color: #cfcf1c;
}

a
{
  /* camufló el enlace para estilo más moderno*/
      color: #cfddee;
      text-decoration: none;
}

a:visited
{
    color: #cfcf1c;
}

form *
{
  /* voy separando los elementos del formulario para que se vea mejor en celulares */
  margin: 0.25em;
 /* Alineo texto interior al centro para que se vea mejor y se mas visible lo que hay que ingresar (mas accesibilidad WCAG) */
  text-align: center;
}

input[id="ternado"]
{
 /* Ajusto tamaño de esta parte del formulario para que se vea mejor en celulares */
  width: 23%;
}

input[type="number"]
{
 /* Agrando los dos ultimos elementos del formulario para que se ve mejor en celulares y cambio margen 
    al formulario de año para que se posicione mejor en pantalla. */
  width: 28%;
  margin: 0.7em;
}

button
{
 /* Hago de otro tamaño el boton para aprovechar mejor la pantalla */
  width: 33%;
}
