html, body
{
 /* Acomodo Texto */ 
  margin: 0;
  margin-top: 6em;
  padding: 0;
  text-align: center;
 /* Doy estilo de gala */ 
  background-color: #131313;
  color: #cfcf1c;
}

form *
{
  /* voy separando los elementos del formulario para que se vea mejor en celulares */
  margin: 0.25em;
}

input[id="ternado"]
{
 /* Ajusto tamaño de esta parte del formulario para que se vea mejor en celulares */
  width: 23%;
}

input[type="number"], button
{
 /* Agrando los dos ultimos elementos del formulario para que se ve mejor en celulares */
  width: 25%;
}
